
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header {
    height: 300px;
    background-image: url("../Assets/images/angel.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content:center ;
    align-items: center;
    
}
.header h1{
    color: rgba(255, 255, 255, 0.767);
    font-size: 100px;
    
}
.bloque1 {
    width: 750px;
    display: flex;   
    gap: 50px; 
    margin: 30px 0 0 569px;
    
    
    
   
}

#musica{
    color:white;
}
.texto {
    gap: 30px   ;
    display: flex;
    flex-direction: column;
    justify-content:  center;
    text-align: justify;
    width: 800px;
    

}

.bloque1 img{  
    height: 300px;
    width: 300px;
    background-size:cover; 
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    

           
}
.texto a{
    text-decoration: none;
    background: #FF6666;    
    color: white;
    padding: 10px;    
    font-size: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    text-align: center;
    width:180px ;
    border-radius: 10px;

}

.titulo{
    color: #ff6666;
}

.bloque2 {
    width: 750px;
    display: flex;   
    gap: 50px;
    margin: 30px 0 0 569px;

    
   
}
.contenido2 {
    display: flex;
    flex-direction: column;
    justify-content:  center;
    text-align: justify;
    width: 800px;
    gap: 30px   ;
    

}

.bloque2 img{  
    
    height: 300px;
    width: 300px;
    background-size:cover; 
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);

    

           
}
.contenido2 a{
    text-decoration: none;
    background: #FF6666;   
    color: white;
    padding: 10px;    
    font-size: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    text-align: center;
    width:180px ;
    border-radius: 10px;

}

.bloque3{
    margin-top: 50px;
    height: 600px;
    
    background-image: url("../Assets/images/raptis.png");
    background-position: center;
    background-size: cover;    
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.contenido3{
    display: flex;
    flex-direction: column;    
    width: 500px;
    text-align: justify;
    gap: 30px;
    margin: 30px 0 0 246px;

}
.contenido3 h2{
    color: white;
    font-size: 50px;
}

.contenido3 p{
    color: white;    
}

.contenido3 a {
    background: #FF6666;
    text-decoration: none;
    text-align: center;
    color: white;
    width:180px ;
    border-radius: 10px;
    padding: 10px;
}
ul{
    list-style: none;
    
    
}

footer{
   background: linear-gradient(90deg,rgba(255, 102, 102, 1) 0%, rgba(209, 25, 25, 1) 81%, rgba(242, 104, 113, 1) 100%);

}
.lista{
    display: flex;
    gap: 20px;    
    
}

.lista li{
    padding: 10px 0;
}
.targeta{
    
    margin-left: 300px;
    height: 400px ;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-content: center;
    color: rgb(255, 255, 255);

    border-radius: 2px solid white;
}

.targeta h3{
    padding: 20px 0 20px 0;
    justify-content: center;
    text-align: justify;
    align-self: self-start;
    
    
    
}
.info-final{
    border-top: 2px solid white;
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 0 40px 0px 40px;
    height: 100px;
    align-items: center;
    
}














